# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/learn_next_js/nextjs-dashboard/node_modules
/learn_next_js/nextjs-dashboard/.pnp
/learn_next_js/nextjs-dashboard/.pnp.js

# testing
/learn_next_js/nextjs-dashboard/coverage

# next.js
/learn_next_js/nextjs-dashboard/.next/
/learn_next_js/nextjs-dashboard/out/

# production
/learn_next_js/nextjs-dashboard/build

# misc
/learn_next_js/nextjs-dashboard/.DS_Store
/learn_next_js/nextjs-dashboard/*.pem

# debug
npm-debug.log*
/learn_next_js/nextjs-dashboard/yarn-debug.log*
/learn_next_js/nextjs-dashboard/yarn-error.log*

# local env files
/learn_next_js/nextjs-dashboard/.env*.local
/learn_next_js/nextjs-dashboard/.env

# vercel
/learn_next_js/nextjs-dashboard/.vercel

# typescript
/learn_next_js/nextjs-dashboard/*.tsbuildinfo
/learn_next_js/nextjs-dashboard/next-env.d.ts
